@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&display=swap');

/*Header (Se repite en todas las paginas)*/
header{
    background-color: dodgerblue;
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
    padding: 50px;
}

header h1 {
    letter-spacing: 25px;
    margin-bottom: 30px;
    color: white;
}

header p {
    font-size: 20px;
    letter-spacing: 10px;
    color: white;
}


/*Section (Esto solo va en el css del index)*/

.categorias header {
    background-color:white;
    letter-spacing: 10px;
    font-family: 'Bree Serif', serif;
}

.categorias .container {
   text-align: center;
}


.categorias .container img {
    width: 180px;
    height: 180px;
}


.historia header{
    background-color:white;
    letter-spacing: 10px;
    font-family: 'Bree Serif', serif;
}

.historia .container{
    text-align: justify;
}

.historia .container img {
    width: 180px;
    height: 90px;
}

/*Footer (Se repite en todas las paginas)*/
footer{
    padding: 5px;
    text-align: center;
    background-color: dodgerblue;
    margin-top: 25px;
}